.conda/
.venv/
.venv_deepfake/
__pycache__/
*.pyc
outputs/
pip_error.txt
.vscode/
.env
test_error.txt
gpu_worker/test_out.wav
tts_service/test_librosa.py
tts_service/test_mazlum.wav
tts_service/test_output.wav
*.onnx
*.pth
*.pt
# Kurulumlar ve Yeni Sanal Ortamlar
venv/
*.whl
*.zip
*.exe
pip_out*.txt
data/source_faces/hakan_hoca.jpg